<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="vodMapper">
  
  <resultMap id="movieManagerResultSet" type="Movie">
		<id property="movieNo" column="MOVIE_NO" />
		<result property="movieName" column="MOVIE_NAME" />
		<result property="movieAge" column="MOVIE_AGE" />
		<result property="genreCode" column="GENRE_CODE" />
		<result property="movieRdate" column="MOVIE_RDATE" />
		<result property="movieRstatus" column="MOVIE_RSTATUS" />
		<result property="moviePrice" column="MOVIE_PRICE" />
		<result property="movieLink" column="MOVIE_LINK" />
		<result property="movieForeman" column="MOVIE_FOREMAN" />
		<result property="movieProducer" column="MOVIE_PRODUCER" />
		<result property="movieActor" column="MOVIE_ACTOR" />
		<result property="movieStime" column="MOVIE_STIME" />
		<result property="movieCountry" column="MOVIE_COUNTRY" />
		<result property="movieContent" column="MOVIE_CONTENT" />
		<result property="movieVodStatus" column="MOVIE_VOD_STATUS" />
		<collection property="attachList" javaType="java.util.ArrayList" resultMap="attachmentResultSet"/>
		

	</resultMap>
	
	
	<resultMap id="attachmentResultSet" type="Attachment">
			<id property="fileNo" column="FILE_NO" />
			<result property="sortCode" column="SORT_CODE" />
			<result property="filePath" column="FILE_PATH" />
			<result property="originFileName" column="ORIGIN_FILENAME" />
			<result property="renameFileName" column="RENAME_FILENAME" />
			<result property="fileStatus" column="FILE_STATUS" />
			<result property="movieNo" column="MOVIE_NO" />
			<result property="userNo" column="USER_NO" />
			<result property="snackNo" column="SNACK_NO" />
			<result property="goodsNo" column="GOODS_NO" />
	</resultMap>
	
	<resultMap id="vodwishResultSet" type="VodWish">
		<id property="userNo" column="USER_NO" />
		<result property="movieNo" column="MOVIE_NO" />
		
	</resultMap>
	
	<resultMap id="vodpayResultSet" type="VodPay">
		<id property="payPrice" column="PAY_PRICE" />
		<result property="paySelect" column="PAY_SELECT" />
		
	</resultMap>
	
	<resultMap id="vodorderResultSet" type="VodOrder">
		<id property="userNo" column="USER_NO" />
		<result property="movieNo" column="MOVIE_NO" />
		<result property="payNo" column="PAY_NO" />
		
	</resultMap>
	
	<resultMap id="vodorderResultSet2" type="VodOrder">
		<id property="payNo" column="PAY_NO" />
	</resultMap>
	
	
	
	 <select id="selectList" resultMap="movieManagerResultSet">
		SELECT *
		FROM MOVIE
		WHERE GENRE_CODE LIKE '%' || #{category} || '%'
	
	</select> 
	
	
	
	<select id="selectOne"  resultMap="movieManagerResultSet">
		SELECT *
		FROM MOVIE
		WHERE MOVIE_NO=#{movieNo}
		
	</select>
	
	
	<select id="insertwish"  resultMap="vodwishResultSet">
	
		INSERT INTO VOD_WISHLIST
		VALUES(#{userNo}, #{movieNo})
		
	</select>
	
	<select id="insertcart"  resultMap="vodwishResultSet">
	
		INSERT INTO CART
		VALUES(SEQ_C_NO.NEXTVAL, 'v', 1 , #{userNo}, #{movieNo} , DEFAULT , DEFAULT)
	</select>
	
	 <select id="selectListCount" resultType="_int">
	  SELECT COUNT(*)
		FROM MOVIE
		WHERE GENRE_CODE LIKE '%' || #{category} || '%'
		
	
	</select>
	
	  <select id="wishselectList" resultMap="movieManagerResultSet">
	  SELECT MV.MOVIE_NO,MV.MOVIE_NAME , MV.MOVIE_AGE ,MV.GENRE_CODE,MV.MOVIE_PRICE,MV.MOVIE_LINK,MV.MOVIE_FOREMAN
		,MV.MOVIE_PRODUCER ,MV.MOVIE_ACTOR ,MV.MOVIE_STIME ,MV.MOVIE_COUNTRY ,MV.MOVIE_CONTENT
		FROM MEMBER M
		JOIN VOD_WISHLIST V ON (M.USER_NO = V.USER_NO)
		JOIN MOVIE MV ON(MV.MOVIE_NO = V.MOVIE_NO)
		WHERE  M.USER_NO =#{userNo}
	
	</select>
	
	
	<select id="selectwishVod" resultMap="movieManagerResultSet">
		SELECT *
		FROM MOVIE 
		JOIN VOD_WISHLIST USING (MOVIE_NO)
		JOIN MEMBER USING (USER_NO)
		WHERE  USER_NO = #{userNo}
		AND MOVIE_NO = #{movieNo}

	
	</select>
	
	<select id="selectcartVod" resultMap="movieManagerResultSet">
		SELECT *
		FROM MOVIE 
		JOIN CART USING (MOVIE_NO)
		JOIN MEMBER USING (USER_NO)
		WHERE  USER_NO =#{userNo}
		AND MOVIE_NO = #{movieNo}

	
	</select>
	
	<select id="insertpay"  resultMap="vodpayResultSet">
	
		INSERT INTO PAYMENT
		VALUES(SEQ_PAY_NO.NEXTVAL , NULL , NULL , #{payPrice} , #{paySelect} , SYSDATE , DEFAULT)
	</select>
	
	<select id="selectpay"  resultType="_int">
	
		SELECT MAX (PAY_NO)
		FROM PAYMENT

	</select>
	

	
	
	<select id="insertorder" resultMap="vodorderResultSet">
	
		INSERT INTO PROD_ORDER
		VALUES(SEQ_ORDER_NO.NEXTVAL ,#{userNo} , NULL , NULL , #{movieNo} , 1 , NULL ,#{payNo})

	</select>
	
	
	<select id="cartselectList" resultMap="movieManagerResultSet">
	 
			SELECT *
			FROM CART
			left join movie using(movie_No)
			WHERE USER_NO = #{userNo}
	
	</select>
	
	<select id="cartdelete" resultType="_int">
	 	 DELETE 
		FROM CART
        WHERE MOVIE_NO = #{movieNo}
	
	</select>
	
	
	 <select id="searchlist" resultMap="movieManagerResultSet">
		SELECT MOVIE_NO,MOVIE_NAME , MOVIE_AGE ,GENRE_CODE,MOVIE_PRICE,MOVIE_LINK,MOVIE_FOREMAN
		,MOVIE_PRODUCER ,MOVIE_ACTOR ,MOVIE_STIME ,MOVIE_COUNTRY ,MOVIE_CONTENT
		FROM MOVIE
        WHERE MOVIE_NAME LIKE '%' ||  #{search} || '%'
	
	</select> 
	
	<select id="searchlist1" resultMap="movieManagerResultSet">
		SELECT MOVIE_NO,MOVIE_NAME , MOVIE_AGE ,GENRE_CODE,MOVIE_PRICE,MOVIE_LINK,MOVIE_FOREMAN
		,MOVIE_PRODUCER ,MOVIE_ACTOR ,MOVIE_STIME ,MOVIE_COUNTRY ,MOVIE_CONTENT
		FROM MOVIE
        WHERE MOVIE_NAME LIKE '%' ||  #{search} || '%'
        AND MOVIE_VOD_STATUS = 'N'
	
	</select> 
	
	
	
	 <select id="vodvod" resultType="_int">
		UPDATE MOVIE
		SET MOVIE_VOD_STATUS = 'Y'
		WHERE MOVIE_NO = #{movieNo}
	
	</select> 
	
	
	<select id="selectListCount1" resultType="_int">
	 SELECT COUNT(*)
		FROM MOVIE 
        JOIN VOD_WISHLIST USING (MOVIE_NO)
		WHERE USER_NO = #{userNo}
		
	
	</select>
	

</mapper>
