<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="vodMapper">
  
  <resultMap id="movieManagerResultSet" type="Movie">
		<id property="movieNo" column="MOVIE_NO" />
		<result property="movieName" column="MOVIE_NAME" />
		<result property="movieAge" column="MOVIE_AGE" />
		<result property="genreCode" column="GENRE_CODE" />
		<result property="movieRdate" column="MOVIE_RDATE" />
		<result property="movieRstatus" column="MOVIE_RSTATUS" />
		<result property="moviePrice" column="MOVIE_PRICE" />
		<result property="movieLink" column="MOVIE_LINK" />
		<result property="movieForeman" column="MOVIE_FOREMAN" />
		<result property="movieProducer" column="MOVIE_PRODUCER" />
		<result property="movieActor" column="MOVIE_ACTOR" />
		<result property="movieStime" column="MOVIE_STIME" />
		<result property="movieCountry" column="MOVIE_COUNTRY" />
		<result property="movieContent" column="MOVIE_CONTENT" />
		<result property="movieVodStatus" column="MOVIE_VOD_STATUS" />
	</resultMap>
	
	<resultMap id="vodwishResultSet" type="VodWish">
		<id property="userNo" column="USER_NO" />
		<result property="movieNo" column="MOVIE_NO" />
		
	</resultMap>
	
	
	
	<!-- <select id="selectList" resultMap="movieManagerResultSet">
		SELECT MOVIE_NO,MOVIE_NAME , MOVIE_AGE ,GENRE_CODE,MOVIE_PRICE,MOVIE_LINK,MOVIE_FOREMAN
		,MOVIE_PRODUCER ,MOVIE_ACTOR ,MOVIE_STIME ,MOVIE_COUNTRY ,MOVIE_CONTENT
		FROM MOVIE
	
	</select> -->
	
	<!-- <select id="selectList1" resultMap="movieManagerResultSet">
		SELECT MOVIE_NO,MOVIE_NAME , MOVIE_AGE ,GENRE_CODE,MOVIE_PRICE,MOVIE_LINK,MOVIE_FOREMAN
		,MOVIE_PRODUCER ,MOVIE_ACTOR ,MOVIE_STIME ,MOVIE_COUNTRY ,MOVIE_CONTENT
		FROM MOVIE
		WHERE MOVIE_NO=#{movieNo}
	
	</select> -->
	
	<select id="selectOne"  resultMap="movieManagerResultSet">
		SELECT *
		FROM MOVIE
		WHERE MOVIE_NO=#{movieNo}
		
	</select>
	
	
	<select id="insertwish"  resultMap="vodwishResultSet">
	
		INSERT INTO VOD_WISHLIST
		VALUES(#{userNo}, #{movieNo})
		
	</select>
	
	<select id="insertcart"  resultMap="vodwishResultSet">
	
		INSERT INTO CART
		VALUES(SEQ_C_NO.NEXTVAL, 'v', 1 , #{userNo}, #{movieNo} , DEFAULT , DEFAULT)
	</select>
	
	<!-- <select id="selectListCount" resultType="_int">
	SELECT COUNT(*)
		FROM MOVIE
	WHERE MOVIE_NO = 1
	</select>
	  -->
</mapper>
