@charset "UTF-8";
/* My KASS */

.MyKASS {
    
    padding: 0px;
    /* border: 1px solid blueviolet; */
    width: 12%;
    height: 95%;
    /* display: inline-block; */
    float: left;
    margin-left: 100px;
    

}
.listArrangeDiv {
    width:100%;
    height: 5%;
    /* border:1px solid rebeccapurple; */
}
.listArrange {
    font-size: 14px;
    margin-top: 15px;
    /* border: 1px solid darkblue; */
    width:750px;
    margin-left: 110px;
}
.myMenu {
    margin-top: 0px;
    /* border: 1px solid rgb(0, 255, 115); */
}

.list {
    list-style-image: url("${ contextPath }/resources/images/list4.PNG");
    margin-bottom: 40px;
    margin-top: 10px;
    /* border: 2px solid black; */
}

a {
    color: rgb(114, 114, 114);
    text-decoration: none;
}

a:hover {
    color: rgb(30, 100, 190);
}

.menuTitle {
    border-top: 1px solid rgb(201, 201, 201);
    padding-bottom: 0px;
}

h4 {
    margin-bottom: 0px;
}

ul>li {
    font-size: 16px;
}
/* My KASS */